@font-face {
  font-family: 'Swis721 Cn RM';  
  src: url(../../../public/fonts/swis721cnbtrusbyme_roman.otf) format('opentype'); 
}
@font-face {
  font-family: 'Swis721 Cn BT';  
  src: url(../../../public/fonts/swis721cnbtrusbyme_bold.otf) format('opentype');
}
@font-face {
  font-family: 'Swis721 Hv Ha';  
  src: url(../../../public/fonts/swis721hvbtrusbyme_heavy.otf) format('opentype'); 
}
@font-face {
  font-family: 'Swis721 Hv HaIt';  
  src: url(../../../public/fonts/swis721hvbtrusbyme_heavyitalic.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';  
  src: url(../../public/fonts/Manrope-VariableFont_wght.ttf) format('opentype'); 
}
